         <!-- Begin Page Content -->
         <div class="container-fluid" cdkDropListGroup>

          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center mb-4">
              <h1 class="h3 mb-0 text-gray-800">Your entire financial life</h1>
              <ul class="navbar-header ml-auto">
                <!-- Nav Item - Alerts -->

                <li class="nav-item dropdown no-arrow mx-1">
                  <a href="#" class="d-none d-sm-inline-block btn btn-md btn-primary shadow-lg"><i
                    class="fas fa-download fa-sm text-white-50 "></i> Explore Investments</a>
                  </li>

                  <li class="nav-item dropdown no-arrow mx-1">
                     <button (click)="add(100, 'friday')" class="btn btn-primary shop"> <fa-icon [icon]="house" class="black"></fa-icon></button>
                  </li>

                  <li class="nav-item dropdown no-arrow mx-1">
                    <button class="btn btn-primary shop2"> <fa-icon [icon]="house" class="black"></fa-icon></button>
                 </li>

                 <li class="nav-item dropdown no-arrow mx-1">
                  <button class="btn btn-primary shop2"> <fa-icon [icon]="house" class="black"></fa-icon></button>
               </li>


            </ul>
          </div>




          <!-- Content Row -->

          <div class="row">

              <!-- Area Chart -->
              <div class="col-xl-8 col-lg-7">
                  <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <!-- <div
                          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                          <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>

                      </div> -->
                      <!-- Card Body -->
                      <div class="card-body pb-0 pt-0 py-0 px-0"  cdkDropList
                      [cdkDropListData]="todo"
                      (cdkDropListDropped)="drop($event)">
                          <div class="chart-area">
                            <div class="row">
                              <button class="Rectangle-Copy-4">Scenario 1</button>
                              <button class="Rectangle-Copy-4" disabled>Scenario 2</button>
                              <button class="Rectangle-Copy-4 pos-abs">Compare</button>
                            </div>

                            <div echarts [options]="chartOption" class="demo-chart" [merge]="mergeOptions" (chartInit)="onChartInit($event)" #echart></div>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- Pie Chart -->
              <div class="col-xl-4 col-lg-5 d-flex flex-column">
                  <div class="Rectangle-Copy-16">
                      <!-- Card Body -->
                      <div class="card-body padding">

                        <div class="row">
                          <div class="col-md-9 d-flex">

                            <div class="col-md-6">
                            <p class="mb-0"><small>Retire at</small></p>
                            <h3><strong>45 age </strong></h3>
                            </div>

                            <div class="col-md-6">
                              <p class="mb-0"><small>Financial end</small></p>
                              <h3><strong>90 age</strong></h3>
                            </div>

                          </div>

                          <div class="col-md-3">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                            src="img/undraw_posting_photo.svg" alt="...">
                          </div>


                        </div>

                        <div class="row margin-0">
                          <div class="col-md-8">

                            <div class="col-md-12">
                              <p class="mb-0"><small>Retirement net worth</small></p>
                              <h2> <strong>&#x20B9; 14.2 Lac</strong></h2>
                            </div>
                          </div>
                        </div>


                      </div>
                  </div>

                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h4 class="m-0 font-weight-bold text-primary">Add life event</h4>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <div class="row justify-content-between">

                        <div cdkDropList
                        [cdkDropListData]="done"
                        (cdkDropListDropped)="drop($event)">
                        <div class="col-md-3 event-box" cdkDrag>
                          <div class="blue-bg">
                            <fa-icon [icon]="house" ></fa-icon>

                          </div>
                          <small>House</small>
                        </div>
                      </div>


                      <div cdkDropList
                      [cdkDropListData]="done2"
                      (cdkDropListDropped)="drop($event)">
                      <div class="col-md-3 event-box" cdkDrag>
                        <div class="green-bg">
                          <fa-icon [icon]="house" ></fa-icon>

                        </div>
                        <small>Education</small>
                      </div>
                    </div>

                    <div cdkDropList
                    [cdkDropListData]="done3"
                    (cdkDropListDropped)="drop($event)">
                    <div class="col-md-3 event-box" cdkDrag>
                      <div class="purple-bg">
                        <fa-icon [icon]="house" ></fa-icon>

                      </div>
                      <small>Career</small>
                    </div>
                  </div>

                      </div>
                      <div class="row justify-content-between">

                        <div cdkDropList
                        [cdkDropListData]="done"
                        (cdkDropListDropped)="drop($event)">
                        <div class="col-md-3 event-box" cdkDrag>
                          <div class="pink-bg">
                            <fa-icon [icon]="house" ></fa-icon>

                          </div>
                          <small>Trekking</small>
                        </div>
                      </div>


                      <div cdkDropList
                      [cdkDropListData]="done2"
                      (cdkDropListDropped)="drop($event)">
                      <div class="col-md-3 event-box" cdkDrag>
                        <div class="yellow-bg">
                          <fa-icon [icon]="house" class="yellow"></fa-icon>

                        </div>
                        <small>Vehicle</small>
                      </div>
                    </div>

                    <div cdkDropList
                    [cdkDropListData]="done3"
                    (cdkDropListDropped)="drop($event)">
                    <div class="col-md-3 event-box" cdkDrag>
                      <div class="blue-bg">
                        <fa-icon [icon]="house" class="blue"></fa-icon>

                      </div>
                      <small>Special Occassion</small>
                    </div>
                  </div>

                      </div>

                      <div class="row justify-content-between">

                        <div cdkDropList
                        [cdkDropListData]="done"
                        (cdkDropListDropped)="drop($event)">
                        <div class="col-md-3 event-box" cdkDrag>
                          <div class="green-bg">
                            <fa-icon [icon]="house" class="green"></fa-icon>

                          </div>
                          <small>Be debt free</small>

                        </div>
                      </div>


                      <div cdkDropList
                      [cdkDropListData]="done2"
                      (cdkDropListDropped)="drop($event)">
                      <div class="col-md-3 event-box" cdkDrag>
                        <div class="purple-bg">
                          <fa-icon [icon]="house" class="purple"></fa-icon>

                        </div>
                        <small>Life Expectanc</small>
                      </div>
                    </div>

                    <div cdkDropList
                    [cdkDropListData]="done3"
                    (cdkDropListDropped)="drop($event)">
                    <div class="col-md-3 event-box" cdkDrag>
                      <div class="pink-bg">
                        <fa-icon [icon]="house"></fa-icon>

                      </div>
                      <small>Custom</small>
                    </div>
                  </div>

                      </div>





                    </div>
                </div>


              </div>
          </div>

          <!-- Content Row -->
          <div class="row">

              <div class="col-lg-4 mb-4">

                  <!-- Out of cash -->
                  <div class="Rectangle-Copy-14 ">
                      <div class="card-body padding  d-flex">
                          <div class="text-center">
                              <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                  src="img/undraw_posting_photo.svg" alt="...">
                          </div>
                          <div>
                            <h4 class="m-0 font-weight-bold text-primary">Out of cash</h4>
                            <p>Out of cash at 28 (2021) with a gap of &#x20B9;<strong>14.2Lac.</strong><br>
                            Tap for more info.</p>
                          </div>


                      </div>
                  </div>


              </div>


              <div class="col-lg-4 mb-4">

                <!-- Out of cash -->
                <div class="Rectangle-Copy-14 ">
                    <div class="card-body padding d-flex">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                                src="img/undraw_posting_photo.svg" alt="...">
                        </div>
                        <div>
                          <h4 class="m-0 font-weight-bold text-primary">Out of cash</h4>
                          <p>Out of cash at 28 (2021) with a gap of &#x20B9;<strong>14.2Lac.</strong><br>
                          Tap for more info.</p>
                        </div>


                    </div>
                </div>


            </div>


            <div class="col-lg-4 mb-4">

              <!-- Out of cash -->
              <div class=" Rectangle-Copy-14">
                  <div class="card-body padding  d-flex">
                      <div class="text-center">
                          <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                              src="img/undraw_posting_photo.svg" alt="...">
                      </div>
                      <div>
                        <h4 class="m-0 font-weight-bold text-primary">Out of cash</h4>
                        <p>Out of cash at 28 (2021) with a gap of &#x20B9;<strong>14.2Lac.</strong><br>
                        Tap for more info.</p>
                      </div>


                  </div>
              </div>


          </div>


          </div>

      </div>

      <!-- Button trigger modal -->
<button type="button" class="btn btn-primary hidden" data-toggle="modal" data-target="#exampleModal" #openModal>
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Goal</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form [formGroup]="myForm" >
          <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input  formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name">
            <small id="emailHelp" class="form-text text-muted">name to be shown on the x-axis of the graph</small>
          </div>

          <div class="wrapper">
            <button class="plusminus" (click)="handleMinus()">-</button>
            <input type="number" class="num" [value]='amount' formControlName="amount" />
            <button class="plusminus" (click)="handlePlus()">+</button>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onSubmit(myForm)">Save changes</button>
      </div>
    </div>
  </div>
</div>
      <!-- /.container-fluid -->
